<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quiz">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.nfc“ android:required=“true" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce“ android:required=“true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz"
        tools:targetApi="31">
        <activity
            android:name=".menu"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".Liste_DesScores"
            android:exported="false" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".Resultat" />
        <activity
            android:name=".Liste_Reultat"
            android:exported="false"
            android:parentActivityName=".Resultat" />

        <meta-data
            android:name="com.google.android.geo.API_KRY"
            android:value="AIzaSyAa_sT0CGK47X1D4nC3LzrO6ojuPlrWd8g" />

        <activity
            android:name=".Resultat"
            android:exported="false" />
        <activity
            android:name=".Quiz5"
            android:exported="false" />
        <activity
            android:name=".Quiz4"
            android:exported="false" />
        <activity
            android:name=".Quiz3"
            android:exported="false" />
        <activity
            android:name=".Quiz2"
            android:exported="false" />
        <activity
            android:name=".Inscription"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Quiz1"
            android:exported="false" />
        <activity
            android:name=".WriteNfc"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ReadNFC"
            android:exported="true"
            android:label="@string/nfc_read_tag"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_ndef" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>